*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{

background-image: url("amazon_logo.png");
background-size: cover;
height: 50px;
width: 100px;


}

/* box 2 */
.add-first{
    color: aliceblue;
    font-size:0.85rem ;
    margin-left: 14px;
    font-weight: 700;
    
}

.add-second{
    font-size:1.2rem ;
    margin-left: 2px;
    font-weight: 700;
}

.icon{
    display:flex ;
    align-items: center;
}


/************* box3 **************/

.search{
    display: flex;
    /* background-color: orange; */
    /* justify-content: space-evenly; */
    width:760px;
    height: 40px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
    

}

.search-icon{
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}

.search:hover{
    border:2px solid;
    color: orange;
}

.sign-in a{
    color: white;
    text-decoration: none;
}
/*box 4  */
span{
    font-size: 0.7rem;
    font-weight: 700;
}

.nav-second{
    font-size: 0.85rem;
    font-weight:700;
}

/* ***********box 5************* */
.nav-cart{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}
.nav-cart i{
    color: white;
    font-size: 35px;
    justify-content: space-between;
}

.cart{
    margin-top: 20px;
}

.cart a{
    color:white;
    padding-top: 100px;
    font-weight: 700;
    justify-content: flex-end;
    text-decoration: none;
}

.nav-logo:hover{
    border: 1px solid white;
    padding: 3px 3px 3px 3px;
}

.address:hover{
    border: 1px solid white;
    padding: 3px 3px 3px 3px;
}

.nav-cart:hover{
    border: 1px solid white;
    padding: 3px 3px 3px 3px;
}

.sign-in:hover{
    border: 1px solid white;
    padding: 3px 3px 3px 3px;
}

.box{
    border: 2px solid black;
    height: 400px;
    display: flex;
    align-items: flex-start;
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 70px;
    background-color: white;

}

.box2{
    border: 1px solid black;
    height: 300px;
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    width: 1400px;
    border-left: none;
    border-right: none;

}

.box img{
    width: 230px;
    height: 200px;
    margin-top: 40px;
    margin-left: 0px;
}

.lines{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

.lines span{
    font-size: 12px;
    color: green;
    /* margin-bottom: 50px; */
}

.price{

    margin-top: 10px;
    /* display: flex; */
    
}

.eligible{
    font-size: 12px;
    color: gray;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;

}

.small-img img{
    width: 60px;
    height: 20px;
    margin-top: 3px;
    /* margin-bottom: 50px;
    margin-top: 50px; */
}

.check{
    display: flex;
    
}

.check p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-weight: 400;
}

.check a{
    color: blue;
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}


