*{
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width:130px;
    height: 40px;
    margin-top: 30px;
}

.logo span{
    margin-top: 10px;
    font-size: 15px;
    
}

.card{
    width :350px;
    height: 290px;
    /* display: flex;
    justify-content: space-around;
    flex-direction: column; */
    border: 1px solid #ddd ;
    border-radius: 4px ;
    margin:25px auto  ;
    padding :15px;
    background-color: rgb(248, 248, 243);
    margin-top: 20px;
    background-color: #ffffff
    
}

.heading h1{
    font-size: 35px;
    font-weight: 500;
    margin-left: 10px;
}

.enter p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
   
}

.label{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 10px;
    
}
.label label{
    font-size: 18px;
    font-weight: 500;
}

.label input{

    width: 325px;
    height: 30px;
    border-radius: 5px;

}

.label button{
    width: 329px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: orange;
}

.label button a{
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.donot{
    margin-left: 15px;
    margin-bottom: 10px;
    margin-left: 28px;
}
.donot a {
    text-decoration: none;
}


.box2{
    border: 1px solid gray;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 30px
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px; */
}


.foot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot ul{
    list-style: none;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.foot ul li a{
    color: blue;
    font-size: 13px;
    font-weight: 500;

}

.foot ul li a:hover{
    color: rgb(41, 170, 213);
    text-decoration: underline;
}


.affiliates{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 83px;
    font-size: 15px;
}

