*{
    margin: 0;
    padding: 0;
}

.menu{
    width: 700px;
    float: left;
    height: 200px;
}
ul{
    float: left;
    display: flex;
    justify-content: centre;
    align-items: center;
    
}
ul li{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 20px;
    color: black; 
    
}

ul li a{
    color: brown;
    font-family: Arial;
    font-weight: bolder;
    
}

ul li a:hover{
    color:greenyellow;
}